a {
  text-decoration: none;
}
a:hover {
  color: #fff;
}
.header-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 5em 1em 5em;
  background-color: #404258;
}
.header-container-logo {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}
.buttons-dash {
  background-color: #fff;
  color: #252b42;
  font-weight: bolder;
}
.buttons-dash:hover {
  background-color: #252b42;
  color: #fff;
}

.home-container {
  height: 85vh;
  background-color: #eff3ff;
  color: #252b42;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em 1em 5em;
}
.home-container-hero-text {
  font-size: 5em;
  font-weight: bolder;
}
.home-container-hero-sub {
  font-size: 1.5em;
  margin-top: 0.8em;
  font-weight: lighter;
}
.buttons-reg {
  background-color: #474e68;
  margin-top: 1em;
  width: 40%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.buttons-reg > a {
  color: #fff;
  font-size: 1.3em;
}

.feature {
  padding: 20px;
  margin-right: 5em;
}
footer {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #404258;
  color: #fff;
}
